.header-title {
    font-size: 24px;
    font-weight: bold;
    color: #333; 
  }
  
  .content-container {
    padding: 20px;
  }
  .questions{
    margin-left: 10px; 
    margin-right: 10px; 
    font-weight: bold;
}
  
  .question-container {
    margin-bottom: 20px;
  }
  
  .question {
    margin-left: 10px; 
    margin-right: 10px; 
  }
  
  .radio-group {
    margin-left: 10px;
  }
  
  .save-button {
    margin-top: 20px;
    background-color: #007bff; 
    color: #fff; 
  }
  