
<ion-tabs style="height: 50px;">
  <ion-tab-bar slot="bottom">
    <ion-tab-button [routerLink]="['../landmarks']">
      <ion-icon name="map" style="margin-top: 7px;"></ion-icon>
       landmarks
    </ion-tab-button>
    <ion-tab-button [routerLink]="['../restaurants']">
      <ion-icon name="restaurant" style="margin-top: 7px;"></ion-icon>
      Restaurants
    </ion-tab-button>
    <ion-tab-button [routerLink]="['../activities']">
      <ion-icon name="bicycle" style="margin-top: 7px;"></ion-icon>
      Activities
    </ion-tab-button>
    <ion-tab-button [routerLink]="['../questions']">
      <ion-icon name="clipboard" style="margin-top: 7px;"></ion-icon>
      Itinerary
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>