<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Itenirary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Itinerary</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <ion-row>
    <ion-col size="12">
      <ion-card>
        <ion-card-header>
          <ion-card-title>9:00 AM</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{cafeChoice}}</p>
          <p>{{cafeDescription}}</p>
          <img *ngIf="cafeImage" [src]="cafeImage" alt="cafe Image" width="300" height="150" style="border: 4px solid grey;">
          <br>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>10:00 AM</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{landmarksChoice}}</p>
            <p>{{landmarkDescription}}</p>
            <img *ngIf="landmarkImage" [src]="landmarkImage" alt="Landmark Image" width="300" height="150" style="border: 4px solid grey;">
            <br>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>3:00 PM</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{resturauntChoice}}</p>
            <p>{{resturauntDescription}}</p>
            <img *ngIf="resturauntImage" [src]="resturauntImage" alt="resturaunt Image" width="300" height="150" style="border: 4px solid grey;">
            <br>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>5:00 PM</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{activityChoice}}</p>
            <p>{{activityDescription}}</p>
            <img *ngIf="activityImage" [src]="activityImage" alt="activity Image" width="300" height="150" style="border: 4px solid grey;">
            <br>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>8:00 PM</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{eveningChoice}}</p>
            <p>{{eveningDescription}}</p>
            <img *ngIf="eveningImage" [src]="eveningImage" alt="evening Image" width="300" height="150" style="border: 4px solid grey;">
            <br>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button [routerLink]="['/home']" expand="block" style="margin-left: 20px; margin-right: 20px;">Back to Home</ion-button>
  <br>
</ion-content>
