<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Itenirary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Itinerary</ion-title>
    </ion-toolbar>
  </ion-header>
 
  <P>{{landmarksChoice}}</P>
  <img *ngIf="landmarkImage" [src]="landmarkImage" alt="Landmark Image">
  <br>
  <P>{{resturauntChoice}}</P>
  <img *ngIf="resturauntImage" [src]="resturauntImage" alt="resturaunt Image">
  <br>
  <P>{{activityChoice}}</P>
  <img *ngIf="activityImage" [src]="activityImage" alt="activity Image">
  <br>
  <P>{{eveningChoice}}</P>
  <img *ngIf="eveningImage" [src]="eveningImage" alt="evening Image">
  <br>
  
</ion-content>
