<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Galway Planner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Galway Planner</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <img src="assets/images/cliffs.jpg" height="150" width="357">
    <ion-button expand="block" color="medium" style="font-size:12px; margin-bottom:8px;" [routerLink]="['/landmarks']">See Landmarks</ion-button>
  </div>

  <div>
    <img src="assets/images/restaurants/pucan.jpg" height="150" width="357">
    <ion-button expand="block" color="medium" [routerLink]="['/restaurants']" style="font-size:  12px; margin-bottom:8px;" >See Resturaunts</ion-button>

  </div>

  <div>
    <img src="assets/images/club.jpeg" height="150" width="357">
    <ion-button expand="block" color="medium" [routerLink]="['/activities']" style="font-size:  12px; margin-bottom:8px;" >See activities</ion-button>
  </div>

  <div style="text-align: center; margin-top: 15px;">
    <ion-button class="oval-button" color="tertiary"  [routerLink]="['/questions']" style="font-size: 15px;">CREATE PLANNER</ion-button>
  </div>
</ion-content>


